@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #737373;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #525252;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-switzer);
}

::selection {
    background-color: red;
    color: white;
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
